<div class="flex justify-left w-[70vw] bg-[#1C1C1C] rounded-xl h-[90vh] p-8" [ngSwitch]="option">
    <app-main-content *ngSwitchCase="'main-option'"></app-main-content>
    <app-homes-content *ngSwitchCase="'homes-option'" class="w-full"></app-homes-content>
    <app-home-detail *ngSwitchCase="'home-detail-option'" class="w-full"></app-home-detail>
    <app-new-home *ngSwitchCase="'new-home-option'" class="w-full"></app-new-home>
    
    <!-- Default -->
    <div *ngSwitchDefault class="text-white">404 not found.</div>
  </div>
  