<div class="flex justify-left w-[70vw] bg-[#1C1C1C] rounded-xl h-[90vh] p-8" [ngSwitch]="option">
    <app-main-content *ngSwitchCase="'main-option'"></app-main-content>
    <app-homes-content *ngSwitchCase="'homes-option'" class="w-full"></app-homes-content>
    <app-home-detail *ngSwitchCase="'home-detail-option'" class="w-full"></app-home-detail>
    <app-new-home *ngSwitchCase="'new-home-option'" class="w-full"></app-new-home>
    <app-home-members *ngSwitchCase="'members-option'" class="w-full"></app-home-members>
    <app-home-member-permissions *ngSwitchCase="'member-permissions-option'" class="w-full"></app-home-member-permissions>
    <app-new-member *ngSwitchCase="'new-member-option'" class="w-full"></app-new-member>
    <app-home-rooms *ngSwitchCase="'rooms-option'" class="w-full"></app-home-rooms>
    <app-new-room *ngSwitchCase="'new-room-option'" class="w-full"></app-new-room>
    <app-company-detail *ngSwitchCase="'companies-option'" class="w-full"></app-company-detail>
    <app-new-company *ngSwitchCase="'new-company-option'" class="w-full"></app-new-company>
    <app-company-devices *ngSwitchCase="'company-devices-option'" class="w-full"></app-company-devices>

    <!-- Default -->
    <div *ngSwitchDefault class="text-white w-full justify-center">404 not found.</div>
  </div>
  